<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- SECURITY CONFIGURATIONS -->
    <security:global-method-security pre-post-annotations="enabled" secured-annotations="enabled" jsr250-annotations="enabled" />

    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/assets/**" access="permitAll" />
        <security:intercept-url pattern="/welcome*" access="permitAll" />
        <security:intercept-url pattern="/**" access="isAuthenticated()" />
        <security:intercept-url pattern="/**" access="isAuthenticated()" />
        <security:form-login login-page="/welcome" authentication-failure-handler-ref="authenticationFailureHandler"/>
    </security:http>

    <bean id="authenticationFailureHandler" class="br.com.doglife.service.AuthFailure" />

    <!-- SECURITY RELATED SERVICES -->
    <bean id="authenticationProvider" class="br.com.doglife.service.AuthProvider" />
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="authenticationProvider" />
    </security:authentication-manager>

</beans>